* {
    box-sizing: border-box;
}

.background-img {
    background-position: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #D9E4F0;
    min-height: 100vh;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.improve-skills {
    background-color: #fff;
    width: 300px;
    padding: 1rem;
    margin: 150px auto;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.building-proj {
    color: #363F48;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

.next-level {
    color: #68768C;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}